.form-container{
 
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.form-container form{

    border-radius: .5rem;
    background-color: var(--white);
    text-align: center;

}

.form-container form h3{
    font-size: 4rem;
    color: var(--light-color);
}

.form-container form .box{
    font-family: MyFont;
    width: 80%;
    border-radius: 2rem;
    font-size: 2rem;
    background-color: var(--main-color);
    border-color: var(--black);
    
}

.form-container form a{
    font-size: 3rem;
    color: var(--light-color);

}

.form-container form a:hover{
    text-decoration: underline;

}


.form-container form .btn{
    margin-bottom: 2rem;
}







.message{   
    background-color: var(--main-color);
    padding:2rem;
    display:flex;
    align-items:center;
    justify-content: space-between;
    gap:1.5rem;
    max-width: 1200px;
    margin:0 auto;
}

.message span{
    color:var(--white);
    font-size: 2rem;
}

.message i{
    font-size: 2.5rem;
    color:var(--white);
    font-size: 2.5rem;
    cursor:pointer;
}

